
Capture-Process/Annotation
Capture-Process/AnnotationCoarse
Capture-Process/DepthVisImage
Capture-Process/InfraredImage
Capture-Process/SceneImage
Capture-Process/SegmentationImage
Capture-Process/SurfaceNormalsImage

process/dataset

BACKUP
UAV-LODBoost
PromptCraft-Robotics

.vscode

__pycache__/